<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <style>
        *{
            margin:0;
            padding: 0;
            list-style: none;
        }
        .success{
            color:green;
        }
        .error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="item">
            用户名<input v-model="username"> <span :class="usernameclass">{{usernametip}}</span>
        </div>
        <div class="item">
            密码<input v-model="userpwd"> <span :class="userpwdclass">{{userpwdtip}}</span>
        </div>
        <div class="item">
            手机号<input v-model="usertel"> <span :class="usertelclass">{{userteltip}}</span>
        </div>
        <button @click="submit">提交</button>
    </div>
    
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            username:"",
            usernameclass:"error",
            usernametip:"请输入数字字母_$组成并且不能以数字开头长度6到12位",
            usernamereg:/^[a-z_$][0-9a-z_$]{5,11}$/i,

            userpwd:"",
            userpwdclass:"error",
            userpwdtip:"长度6到10位的数字和字母组成",
            userpwdreg:/^[a-z0-9]{6,10}$/i,


            usertel:"",
            usertelclass:"error",
            userteltip:"请输入常用的11位手机号",
            usertelreg:/^1[3-9][0-9]{9}$/i,

        },
        methods:{
            //提交
            submit(){
                //验证用户名
                if(this.usernamereg.test(this.username)){
                    this.usernameclass="success";
                    this.usernametip="√"
                }else{
                    this.usernameclass="error";
                    this.usernametip="请输入数字字母_$组成并且不能以数字开头长度6到12位"
                }

                //验证密码
                if(this.userpwdreg.test(this.userpwd)){
                    this.userpwdclass="success";
                    this.userpwdtip="√";
                }else{
                    this.userpwdclass="error";
                    this.userpwdtip="长度6到10位的数字和字母组成";
                }
                //验证手机号

                if(this.usertelreg.test(this.usertel)){
                    this.usertelclass="success";
                    this.userteltip="√";
                }else{
                    this.usertelclass="error";
                    this.userteltip="请输入常用的11位手机号";
                }


            }
        }
    })


</script>
</html>