<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        商品数量<input v-model="goodsnum"> 商品价格 <input v-model="goodsprice">  小计<span>{{total}}</span>
    </div>
</body>
<script>
    new  Vue({
        el:"#app",
        data:{
            goodsnum:100,
            goodsprice:10
        },
        computed:{//具有缓存 是对data的补充  
             total(){
                 return  this.goodsnum * this.goodsprice;
             }   
        }
    })
</script>
</html>