<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>计算属性</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        姓<input v-model="firstname"> 名 <input v-model="secondname">  全名<span>{{fullname}}</span>
    </div>
</body>
<script>
    new  Vue({
        el:"#app",
        data:{
            firstname:"雷",
            secondname:"德承"
        },
        computed:{//具有缓存 是对data的补充  
            fullname(){
                //处理事情
                 return  this.firstname + this.secondname;
             }   
        }
    })
</script>
</html>