<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>
    <style>
        *{
            margin:0;
            padding: 0;
            list-style: none;
        }
        .userlist{
            width: 400px;
            overflow: hidden;
            margin: 50px auto;
        }
        .userlist-item{
            float: left;
            width: 100px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background-color: black;
            color: burlywood;
        }

    </style>
</head>
<body>
    <div id="app">
        <div>
            <form>
            用户名<input v-model="username"/> 密码<input v-model="userpwd"/>
            <button @click="add" type="button">新增</button>
            </form>
        </div>
        <div class="userlist">
            <div class="userlist-tr">
                <div class="userlist-item">编号</div>
                <div class="userlist-item">姓名</div>
                <div class="userlist-item">密码</div>
                <div class="userlist-item">操作</div>
            </div>
            <div class="userlist-tr" v-for="item in list" :key="item.id">
                <div class="userlist-item">{{item.id}}</div>
                <div class="userlist-item">{{item.username}}</div>
                <div class="userlist-item">{{item.userpwd}}</div>
                <div class="userlist-item" @click="del(item.id)">删除</div>
            </div>
         
        </div>

    </div>
    
</body>
<script>
    new  Vue({
        el:"#app",
        data:{
            username:"",
            userpwd:"",
            list:[],//有个数据
        },
        methods:{
            add(){
                // console.log(this.username);
                axios({
                    method:"post",
                    url:"http://192.168.60.158:4567/userinfos",
                    data:{
                        username:this.username,
                        userpwd:this.userpwd
                    }
                }).then(res=>{
                    console.log(res.data);
                })
            },
            del(id){
                axios({
                    method:"delete",
                    url:"http://192.168.60.158:4567/userinfos/"+id
                }).then(res=>{
                    console.log(res.data);
                })

            }
        },
        created(){//这个里面就可以使用this  
           axios({
               method:"get",
               url:"http://localhost:4567/userinfos"
           }).then(res=>{
               //console.log(res.data);
               this.list = res.data;
           })
        }
    })

</script>
</html>